{% extends 'base.html' %}
{% load static %}



{% block content %}
    <div class="section-top">

        <img src="{% static 'img/фон_4.jpg' %}" style="width: 100%;">

    </div>



    <div class="section1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">
                        Наши блюда
                    </h1>
                </div>

                {% for product_image in products_images %}
                {% include 'landing/product_item.html' %}
                {% endfor %}

            </div>
        </div>
    </div>

    <div class="section section-delivery">
        <div>
        <h3> Бесплатная доставка при заказе от 30.00 BYN.
        <h3>    Заказы принимаются по телефону +375 29 ... ... ..</h3>
        </div>
    </div>

    <div class="section section2 zakuska-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center">
                    Закуски
                </h1>
            </div>

            {% for product_image in products_images_zakuska %}
                    {% include 'landing/product_item.html' %}
            {% endfor %}

        </div>
    </div>
</div>


<div class="section section3 sweets-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center">
                    Десерты
                </h1>
            </div>

            {% for product_image in products_images_sweets %}
                {% include 'landing/product_item.html' %}
            {% endfor %}

        </div>
    </div>
</div>



<div class="section section4 hot-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center">
                    Горячие блюда
                </h1>
            </div>

            {% for product_image in products_images_hot %}
                 {% include 'landing/product_item.html' %}
            {% endfor %}

        </div>
    </div>
</div>


{% endblock %}
